# Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcuserdatad/
ios/Runner.xcuserstate
ios/Podfile.lock

# Android
android/.gradle/
android/captures/
android/.idea/
android/local.properties
android/app/build/

# VS Code/IntelliJ/IDE
.vscode/
.idea/
*.iml

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/build/

# 기타
*.log
*.lock
*.DS_Store

# .env 파일 제외
!.env

# Miscellaneous
*.class
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.ipr
*.iws

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables
.env
.env.*

# API documentation and test files
assets/api/ 